metadata:
  id: "CKV_K8S_CUSTOM_005"
  name: "Ensure containers do not allow privilege escalation"
  category: "KUBERNETES_SECURITY"
  severity: "HIGH"
  guideline: "Prevent containers from gaining more privileges than their parent process by setting allowPrivilegeEscalation to false."
definition:
  or:
    - cond_type: "attribute"
      resource_types:
        - "Pod"
        - "Deployment"
        - "StatefulSet"
        - "DaemonSet"
        - "Job"
        - "CronJob"
        - "ReplicaSet"
      attribute: "spec.containers[*].securityContext.allowPrivilegeEscalation"
      operator: "equals"
      value: false
    - and:
        - cond_type: "attribute"
          resource_types:
            - "Pod"
            - "Deployment"
            - "StatefulSet"
            - "DaemonSet"
            - "Job"
            - "CronJob"
            - "ReplicaSet"
          attribute: "spec.securityContext.runAsNonRoot"
          operator: "equals"
          value: true
        - cond_type: "attribute"
          resource_types:
            - "Pod"
            - "Deployment"
            - "StatefulSet"
            - "DaemonSet"
            - "Job"
            - "CronJob"
            - "ReplicaSet"
          attribute: "spec.containers[*].securityContext.allowPrivilegeEscalation"
          operator: "not_exists"